<div class="flex-col mx-40 my-10">
    <table>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">To-Do</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <input class="mr-1.5" type="checkbox" />
                </td>
                <td>
                    <p class="todo-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum temporibus aspernatur earum
                        maiores sed?
                    </p>
                </td>
                <td>
                    <div class="options-group">
                        <button class="del-btn">
                            <i class="fa-solid fa-trash-can"></i>
                            <p>Eliminar</p>
                        </button>

                        <button class="upd-btn">
                            <i class="fa-solid fa-pencil"></i>
                            <p>Modificar</p>
                        </button>
                    </div>
                </td>
            </tr>

            <tr class="disabled">
                <td>
                    <input class="mr-1.5" type="checkbox" checked />
                </td>
                <td>
                    <p class="todo-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, officiis!
                    </p>
                </td>
                <td>
                    <div class="options-group">
                        <button class="del-btn">
                            <i class="fa-solid fa-trash-can"></i>
                            <p>Eliminar</p>
                        </button>

                        <button class="upd-btn">
                            <i class="fa-solid fa-pencil"></i>
                            <p>Modificar</p>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>