<div class="mx-40 flex justify-between">
    <div class="flex gap-x-12">
        <button class="filter-btn">
            <i class="fa-solid fa-list"></i>
            <p>Todos</p>
        </button>

        <button class="filter-btn">
            <i class="fa-solid fa-clock"></i>
            <p>Pendientes</p>
        </button>

        <button class="filter-btn">
            <i class="fa-solid fa-check-double"></i>
            <p>Completados</p>
        </button>
    </div>

    <button class="add-btn">
        <i class="fa-solid fa-plus"></i>
        <p>Agregar nuevo</p>
    </button>
</div>